<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Users</title>
</head>
<style>
    .update-user {
        text-align: center;
    }

    .btnUser {
        margin-top: 20px;
    }
</style>

<body>
    <div class="update-user">
        <form action="/update-user" method="POST" class="form-editUser">
            <h2>Creat a new user</h2>
            <div class="form-edit">
                <label for="fname">First name:</label><br>
                <input type="text" name="firstName" value="<%= dataUser.firstName %>">
            </div>
            <div class="form-edit">
                <label for="fname">Last name:</label><br>
                <input type="text" name="lastName" value="<%= dataUser.lastName %>">
            </div>
            <div class="form-edit">
                <label for="fname">Email:</label><br>
                <input type="email" name="email" value="<%= dataUser.email %>">
            </div>
            <div class="form-edit">
                <label for="fname">Address:</label><br>
                <input type="text" name="address" value="<%= dataUser.address %>">
            </div>
            <input type="text" hidden name="id" value="<%= dataUser.id %>">
            <div class="btnUser">
                <button type="submit">Submit</button>
            </div>

        </form>
    </div>
</body>

</html>